fastapi[all]
sqlalchemy
pandas
scikit-learn
numpy
Pillow
transformers
chromadb
scipy
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
razorpay
setuptools
pydantic-settings
Jinja2
email-validator
SQLAlchemy-Utils
surprise
torch
torchvision
torchaudio
